.pullout-toolbar {
	overflow: hidden;
}
	
.pullout-toolbar.collapsed {
	pointer-events: none;
}

.pullout-toolbar.top {
	top: 0;
	right: 0;
	left: 0;
}

.pullout-toolbar.right {
	top: 0;
	right: 0;
	bottom: 0;
}

.pullout-toolbar.bottom {
	right: 0;
	bottom: 0;
	left: 0;
}

.pullout-toolbar.left {
	top: 0;
	bottom: 0;
	left: 0;
}

.pullout-toolbar.horizontal .slider {
	width: 100%;
}


.pullout-toolbar.vertical .slider {
	height: 100%;
}

.pulltab {
	pointer-events: all;
	position: absolute;
	z-index: 1;
}

.pullout-toolbar.horizontal .pulltab {
	width: 54px !important;
	height: 46px !important;
}

.pullout-toolbar.vertical .pulltab {
	height: 54px !important;
	width: 46px !important;
}

.pullout-toolbar.horizontal .pulltab.center {
	left: 48%;
}

.pullout-toolbar.horizontal .pulltab.right {
	right: 0;
}

.pullout-toolbar.vertical .pulltab.center {
	top: 47%;
}

.pullout-toolbar.vertical .pulltab.bottom {
	bottom: 0;
}

.pullout-toolbar.top .pulltab {
	border-top: solid 1px #4c4c4c;
	margin-top: 0px;
}

.pullout-toolbar.right .pulltab {
	right: 100%;
	border-right: solid 1px #4c4c4c;
	margin-right: -1px;
}

.pullout-toolbar.bottom .pulltab {
	bottom: 100%;
	border-bottom: solid 1px #4c4c4c;
	margin-bottom: -1px;
}

.pullout-toolbar.left .pulltab {
	border-left: solid 1px #4c4c4c;
	margin-left: -1px;
}

.pullout-toolbar .grabber {
	margin: 3px 0px 0px 2px;
}

.pullout-toolbar.horizontal .grabber {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	
	margin: 0px 0px 0px 7px;
}

/* Enyo framework overrides */

.pullout-toolbar .enyo-fittable-rows-layout > .enyo-tool-decorator {
	vertical-align: middle;
	display: block;
	margin: 6px 0px;
}